{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    

    <table class="table border border-light" style="margin-top:120px">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Numéro téléphone</th>
                <td>{{ etudiant.numtel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.email }}</td>
            </tr>
            <tr>
                <th>Montant payé</th>
                <td>{{ etudiant.montantp }}</td>
            </tr>
            <tr>
                <th>Montant restant</th>
                <td>{{ etudiant.montantnp }}</td>
            </tr>
            <tr>
                <th>Nombre d'absence</th>
                <td>{{ etudiant.nbabsence }}</td>
            </tr>
            <tr>
                <th>Numéro du groupe</th>
                <td>{{ etudiant.numgroupe }}</td>
            </tr>
             <tr>
                <th>formation</th>
                <td>{% for etudiant in etudiant.formation %}
    {{ etudiant.nom }}
{% endfor %}</td>
            </tr>
        </tbody>
    </table>
   <div style="margin-left:40%;margin-top:50px;"> {{ include('etudiant/_delete_form.html.twig') }}</div>
   <div style="margin-left:42%"><span class="badge bg-success"><a href="{{ path('app_etudiant_index') }}">Retour</a></span></div>

   

    
{% endblock %}
